<nav>
    <ul>
        <li>
            <a href="/">accueil</a>
        </li>
        <li>
            <a href="/cours">cours</a>
        </li>
        <li>
            <a href="/cours/new">création</a>
        </li>
        <li>
            <a href="/semestre">Semestres</a>
        </li>
    </ul>
</nav>